<div id="page-wrapper">
  <div class="col-lg-12">
    <h1 class="page-header pull-left">
      Crud Task
    </h1>

  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-sm-12 form_panel_head">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title fw_bold">Table</h3>
          </div>
          <div class="panel-body">
            <br />
            <!-- <div class="form-inline" align="right">
                <input type="text" ng-model="search" class="form-control srch" placeholder="Search" />
              </div> -->
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>User Name</th>
                    <th>Role Name</th>
                    <th>Gender</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of user_table; let i=index">
                    <td>
                      {{i+1}}
                    </td>
                    <td>
                      {{user.user_name}}
                    </td>
                    <td>
                      {{user.role_name}}
                    </td>
                    <td>
                      {{user.gender}}
                    </td>
                    <td>
                      {{user.description}}
                    </td>

                    <td>
                      <button type="button" class="btn btn-xs tbl_button tbl_edit" value="Edit">
                        <span class="fa fa-pencil" (click)="edit_user(user.id)"></span>
                      </button>
                      <button type="button" class="btn btn-xs tbl_button " (click)="delete_user(user.id)" value="delete">
                        <span class="fa fa-trash-o"></span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 form_panel_head">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title fw_bold">Form</h3>
          </div>
          <div class="panel-body">

            <form class="form-horizontal form_elements" [formGroup]="form">
              <div class="form-group"  [ngClass]="{'has-error': (form.controls.user_name.invalid && form.controls.user_name.dirty) || (form.controls.user_name.invalid && form.controls.user_name.touched)}">
                <div class="col-sm-12">
                  <label class="control-label required">User Name</label>
                  <input type="text" class="form-control" formControlName="user_name" [(ngModel)]="user.user_name">
                  <p *ngFor="let validation of validation_messages.user_name">
                      <span class="error-message" *ngIf="form.get('user_name').hasError(validation.type) && (form.get('user_name').dirty || form.get('user_name').touched)">
                          {{ validation.message }}
                      </span>
                    </p>
                </div>
              </div>

              <div class="form-group" [ngClass]="{'has-error': (form.controls.role_name.invalid && form.controls.role_name.dirty) || (form.controls.role_name.invalid && form.controls.role_name.touched)  }">
                <div class="col-sm-12">
                  <label for="role_id" class="control-label required">Role</label>
                  <select class='drop-down-icon select-option form-control' formControlName="role_name" id="role_name" [(ngModel)]="user.role_name">
                      <option disabled hidden [value]="selectUndefinedOptionValue">-- Select Role --</option>
                    <option *ngFor="let role of drop_roles" [value]="role.role_name">
                      {{role.role_name}}
                    </option>
                  </select>
                  <p *ngFor="let validation of validation_messages.role_name">
                      <span class="error-message" *ngIf="form.get('role_name').hasError(validation.type) && (form.get('role_name').dirty || form.get('role_name').touched)">
                          {{ validation.message }}
                      </span>
                    </p>
                </div>
              </div>

              <div class="form-group" [ngClass]="{'has-error': (form.controls.gender.invalid && form.controls.gender.dirty) || (form.controls.gender.invalid && form.controls.gender.touched) }">
                <div class="col-sm-12">
                  <label for="gender" class="control-label required">Gender</label>
                  <input type="radio" value="male" formControlName="gender" [(ngModel)]="user.gender"> Male
                  <input type="radio" value="female" formControlName="gender" [(ngModel)]="user.gender"> Female
                  <p *ngFor="let validation of validation_messages.gender">
                      <span class="error-message" *ngIf="form.get('gender').hasError(validation.type) && (form.get('gender').dirty || form.get('gender').touched)">
                          {{ validation.message }}
                      </span>
                    </p>
                </div>
              </div>

              <div class="form-group">
                  <div class="col-sm-12">
                    <label  class="control-label required">Contact Via</label>
                    <input type="checkbox" formControlName="contact_sms" [(ngModel)]="user.contact_sms"> SMS
                    <input type="checkbox" formControlName="contact_email"  [(ngModel)]="user.contact_email"> Email
                  </div>
                </div>

              <div class="form-group"  [ngClass]="{'has-error': form.controls.description.invalid && form.controls.description.touched }">
                <div class="col-sm-12">
                  <label class="control-label required">Description</label>
                  <textarea class="form-control description" rows="4" formControlName="description"  [(ngModel)]="user.description"></textarea>
                  <p *ngFor="let validation of validation_messages.description">
                      <span class="error-message" *ngIf="form.get('description').hasError(validation.type) && (form.get('description').dirty || form.get('description').touched)">
                          {{ validation.message }}
                      </span>
                    </p>
                </div>
              </div>

              <button class="btn btn-success" (click)="onSubmit()"  *ngIf="!update_form">Submit</button>
              <button type="button" class="btn btn-success" *ngIf="update_form" (click)="update_user(user.id)">Update</button>
              <button class="btn btn-reset" (click)="reset()">Reset</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>